window {
    all:unset;
    padding: 0px;
    border: 3px solid rgba(149, 117, 205, 1);
    border-radius: 10px;
    background-color: rgba(33, 33, 33, 0.8);
    font-size:18;
}
#inner-box {
    margin: 0px;
    padding: 0px
    border: none;
}
#outer-box {    
    border: none;
}
#scroll {
    margin: 15px;
    padding: 10px;
    border: none;
}
#input {
    all:unset;
    margin:0px;
    padding: 10px;
    border: 3px solid rgba(149, 117, 205, 1);
    outline: 3px solid rgba(149, 117, 205, 1);
    color: rgb(237, 231, 246);
    border-radius:10;
    background-color: rgba(33, 33, 33, 0.8);
}
#input image {
    border: none;
    color: rgba(237, 231, 246, 1);
    padding-right:10px;
}
#input * {
    border: 3px solid rgba(149, 117, 205, 1);
    outline: 3px solid rgba(149, 117, 205, 1);
}

#input:focus {
    border: 3px solid rgba(149, 117, 205, 1);
    outline: 3px solid rgba(149, 117, 205, 1);
    border-radius:10;
}
#text {
    margin-left: 4px;
    border: none;
    color: rgb(237, 231, 246);
    outline: none;
}
#entry {
    border: none;
    margin: 1px;
    padding: 6px;
}
#entry arrow {
    border: none;
    color: rgba(149, 117, 205, 0.0);
}
#entry:selected {
    outline: 3px solid rgba(149, 117, 205, 0);
    outline-radius: 10px;
    background:none;
}
#entry:selected #text {
    color: rgba(149, 117, 205, 1);
    background: none
}
#entry:selected image {
	padding-left:12;
	border-left:3px solid rgba(149, 117, 205, 1);
	border-radius:4px;
    color: rgba(149, 117, 205, 0);
    background: none
}
#entry:drop(active) {
    outline: 3px solid rgba(149, 117, 205, 1);
    outline-radius: 10px;
    background:none;
}
